body.sigin-body {
  background-color: #000000;
}
h1{
  color: black;
  font-size: 38px;
}
.container.signin-container {
  margin-top: 4%;
  max-width: 650px;
}

.card.signin-card {
  padding: 40px 0px 20px;
  background-color: #f4f4f4;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
}

img.signin-img {
  width: 300px;
  height: 100px;
  padding: 0 2rem 2rem;
  margin: auto;
  display: block;
}

form.sigin-form {
  max-width: 350px;
  margin: auto;
}

button.signin-btn {
  background: #1ad1ff;
  color: #332902;
  width: 100%;
  margin-bottom: 1.2rem;
}

a.create-new-account {
  font-size: 1.2rem;
  text-align: center;
  display: block;
  margin-top: 15px;
}
